<mat-card>
  <mat-card-title> Novo Produto </mat-card-title>
  <mat-card-content>
    <mat-form-field class="mes">
      <mat-label for="nome">Nome</mat-label>
      <input matInput placeholder="Digite o nome do produto" type="text" name="nome" [(ngModel)]="nome" />
    </mat-form-field>

    <mat-form-field class="mes">
      <mat-label for="barras">Código de Barras</mat-label>
      <input matInput placeholder="Digite o código de barras do produto" type="text" name="barras" [(ngModel)]="barras" />
    </mat-form-field>

    <mat-form-field class="mes">
      <mat-label for="preco">Preço</mat-label>
      <input matInput placeholder="Digite o preço do produto" type="number" name="preco" [(ngModel)]="preco"  min="0.00" max="10000.00" step="0.01" />

    </mat-form-field>

    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="cadastrar()">Cadastrar</button>
      <a mat-stroked-button routerLink=""> Cancelar </a>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
